@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap');
body{
    margin: 0%;
    padding: 0%;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
/*style pour le menu*/
nav{
    background-color: brown;
    width: 100%;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;   
    padding: 18px;
}
nav ul li{
       margin-left: 25px;
       list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: white; 
    text-transform: uppercase; 
    padding: 15px;
}
nav ul li a:hover{
    background-color: rgba(99, 124, 238, 0.767);
    padding: 15px;
    border-radius: 15px;
}
/****FIN POUR MON MENU**************/

/*Style pour le header*/
.header{
    background: linear-gradient(rgba(107, 12, 12, 0.486),rgba(24, 15, 15, 0.2)),url("../first_project/images/juriste.jpeg") no-repeat 50%;
    background-size: cover;
    color: black;
    text-align: center;
    width: 100%;
    min-height: 60vh;
    position: relative;
    bottom: 20px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    color: red;
}
.banniere{
    background-color: rgba(240, 248, 255, 0.493);
    opacity: 0.8;
    border-radius: 0px;
    width: 50%;
}
.banniere h1{
    text-transform: uppercase;
}
.banniere p{
    margin-bottom: 7%;
}
/**********fin*************/

/**********style de la partie presentation-mission*****/
.presentation-mission{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 18px;   
}
h2{
    text-transform: capitalize;
}
/**********fin*************/

/*Style pour la partie prestation*/
.prestation{
    background: linear-gradient(rgba(107, 12, 12, 0.486),rgba(24, 15, 15, 0.2)),url("../first_project/images/travail.jpeg") no-repeat 50%;
    background-size: cover;
    color: black;
    text-align: center;
    width: 100%;
    min-height: 60vh;
    position: relative;
    bottom: 20px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    color: red;
}
.nos{
    background-color: rgba(240, 248, 255, 0.493);
    opacity: 0.8;
    border-radius: 0px;
    width: 50%;
}
.nos h1{
    text-transform: uppercase;r
}
.nos p{
    margin-bottom:5%;
}
/**********fin*************/

/**********style de la partie historique*****/
.historique{
    display: flex;
    justify-content: space-around;
    align-items: left;
    margin: 45px;   
}
h2{
    text-transform: capitalize;
}
img{
    width: 400px;
    height: 200px;
}
/**********fin*************/

